{% extends 'base.html' %} 
{% load static %}

{% block content %}


    <div class="container mt-5 pt-5 pb-5">
        <div class="row">
          <div class="col-7">
            <h1> About us </h1>
            <p > 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quidem inventore ipsum iste, quasi itaque ipsam
            laboriosam. Qui veniam unde maxime libero neque quis nihil, autem sequi, consectetur ipsum ducimus? Voluptatibus
            expedita iste, itaque sunt fugiat numquam excepturi magnam incidunt tenetur ad soluta similique assumenda totam
            cumque explicabo autem at quod fuga aliquid fugit libero! Blanditiis adipisci repudiandae laudantium nihil! Laudantium 
            officia doloribus nostrum, laborum sed minima.Totam quod quo fugit omnis libero odit modi tenetur qui doloremque earum, 
            dignissimos voluptas impedit veniam expedita quae tempore sequi. Illo, eligendi accusamus. Nobis pariatur minus, fuga
            assumenda voluptate aliquid repellendus molestias harum. Iusto voluptatibus dolore explicabo est voluptas minima,
            architecto molestias quaerat impedit, quisquam minus porro dolorum ratione eos maiores nisi optio. Ut quam quam, sagittis 
            non metus nec, fringilla sodales tellus. Duis a nibh neque. Praesent lobortis, lorem eget auctor rhoncus, neque 
            dui mollis mi, tempus aliquam tellus nunc quis libero. Fusce venenatis lectus eget urna finibus vestibulum. 
            Curabitur congue erat vitae porta malesuada. Vestibulum porta ipsum est, a varius sapien mollis sit amet
            </p> 
          </div>
          <div class="col-5 mt-5 pt-2">
            <img class="img-fluid mt-4 w-60 " src="{% static 'img/restorant.jpg' %}" alt="First slide">
          </div>
        </div>
       
      </div>

{% endblock  %}