{% extends 'base.html' %} 
{% load static %}

{% block content %}


<header class="imgBg d-flex flex-column align-items-center justify-content-center p-5">
  <h1 class="text-light">Contact</h1>
    <p class="text-light">If you have any questions or inquiries, please don't hesitate to reach out to us</p>
   
</header>


<div class="container mt-5 pt-5 pb-5">
  <div class="row">
    <div class="col">
      <img class="img-fluid mt-4 w-60 " src="{% static 'img/contact.jpeg' %}" alt="First slide">
      
    </div>
    <div class="col mt-5 pt-5 pb-5">
      <p>
        <b>Name: Restaurant name</b>
        </br>
        </br>
        <b>Address: Ul. Damira Tomljanovića 15, 10 000 Zagreb, HR</b>
        </br>
        </br>
        Phone: +385(0)123456789
        </br>
        </br>
        E-mail: something@gmail.com
        </p>

    </div>
  </div>
  
</div>

{% endblock  %}